@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

body{
    font-size: 16px;
    margin: 0px;

    font-family: Arial, Helvetica, sans-serif;
    background-color: #e5e5bc;
}

header{
    background-image: linear-gradient(#37C677, #336633);
    margin: 0px;
    padding: 0px;
    text-align: center;
}
header>h1{
    color: white;
    margin: 0px;
    padding: 20px;
}
header>p{
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.205);
}
header>nav{
    padding: 8px 20px;
    text-align: left;
}
header>nav>a{
    padding: 0px 6px;
    color: #37C677;
    text-decoration: none;
}
header>nav>a:hover{
    padding: 5px 6px;
    background-color: #37C677;
    color:#336633;
    border-radius: 5px;
}



main{
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.281);
    padding-bottom: 40px;
    border-radius: 10px;
}
main>h2{
    font-family: idroid, sans-serif;
    margin: 0px;
    color: #336633;
    padding: 25px 15px;
}
main>h3{
    font-family: idroid, sans-serif;
    margin: 15px;
    padding: 2px 10px;
    background-image: linear-gradient(90deg,#06f873a8,#37c67700);
    color: #336633;
}
main>p{
    margin: 0px 20px;
    text-indent: 40px;
}
main>p>a{
    background-color: #06f873a8;
    color: #336633;
    padding: 1px 6px;
    font-weight: bold;
    text-decoration: none;
}
main>p>a::after{
    content: " 🔗";
}
main>p>a:hover{
    text-decoration: underline;
}
main>p>span{
    color: #336633;
    font-weight: bold;
}
main > picture > img{
    margin: 20px;
    width: -webkit-fill-available;
}
main>section{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #336633;
}
main>section>iframe{
    margin: 20px;
    width: -webkit-fill-available;
}

main>article{
    margin: 30px 20px 20px 20px;
    padding: 0px 0px 10px 0px;
    background-color: #44e78d2c;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.226);
}
main>article>div{
    margin: 0px;
    padding: 10px;
    background-color: #37C677;
    font-weight: bold;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
main>article>p{
    text-indent: 40px;
    padding: 5px 8px;
}
main>article>ul>li::before{
    font-weight: bold;
    content: "✓  ";
}
main>article>p>a{
    color: #336633;
    padding: 1px 6px;
    font-weight: bold;
    text-decoration: none;
}
main>article>p>a::after{
    content: " 🔗";
}
main>article>p>a:hover{
    text-decoration: underline;
}
main>article>p>span{
    color: #336633;
    font-weight: bold;
}

footer{
    margin: 0px;
    background-color: #336633;
    padding: 4px;
}
footer>small{
    margin: 0px;
    color: white;
}
footer>small>span{
    margin: 0px;
    font-weight: bold;
}